.our-works {
  padding-top: 40px;
}

@media screen and (min-width: 992px) {
  .our-works {
    padding-top: 64px;
  }
}

.our-works__title {
  display: none;
}

@media screen and (min-width: 768px) {
  .our-works__title {
    display: block;
    margin-bottom: 56px;
  }
}