.products {
  padding-top: 56px;
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 118px;
  }
}

.products__title {
  margin-bottom: 24px;
}

.products__text {
  line-height: 20px;
  margin-bottom: 32px;
  max-width: 306px;
}

.products__slider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 72px;
}

@media screen and (min-width: 1200px) {
  .products__slider {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-slide:nth-child(even) {
    margin-bottom: 24px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  bottom: 0;
  top: auto;
}

@media screen and (min-width: 1200px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  right: auto;
  left: 72px;
}

.products__slider-button-prev,
.products__slider-button-next {
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #F7F9FA;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #EBEDEE;
  box-sizing: border-box;
  z-index: 1;
}

.products__slider-button-prev::after,
.products__slider-button-next::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 9.13px;
  height: 15.65px;
  z-index: 5;
}

.products__slider-button-prev {
  background-image: url(./img/arr-left.svg);
}

.products__slider-button-next {
  background-image: url(./img/arr-right.svg);
}


/***********************/

.products__slider .slick-track {
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px !important;
}

.products__slider .slick-slide {
  height: fit-content !important;
  float: none !important;
}

@media screen and (min-width: 1200px) {
  .products__slider .slick-track {
    flex-wrap: wrap;
    flex-direction: column;
    width: 3354px !important;
    height: 810px;
    gap: 22px !important;
  }

}
